/build
*.iml
.gradle
/local.properties
/.idea
.idea
.DS_Store
/captures
.externalNativeBuild
.cxx
/.idea/modules.xml
/.idea/.gitignore
/.idea/misc.xml
/.idea/gradle.xml
/.idea/.name
/.idea/jarRepositories.xml
/.idea/libraries/
/.idea/caches/
/.idea/codeStyles/
/.idea/vcs.xml
